<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS | Simples Search Box</title>
    <script src="/js/angular.js"></script>
</head>
<body ng-app=="mainApp">

    
    <div ng-controller="people">
        <ul>
            <h2>Names and age of programmers in the local area: </h2>
            <li ng-repeat="person in persons | filter:searchBox">
                {{ person.Name + ' : ' + person.Age }}
            </li>
        </ul>
    </div>

    <input type="text" ng-model="searchBox">

    
</body>
</html>
