<!DOCTYPE html>
<html lang="en" ng-app="app3" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Tutorial</title>

    <!-- style at directive cloak responsible for not showing the {{}} during load to the user -->
    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display:none;
        }
    </style>
</head>
<body>

    <div id="groceryList" ng-controller="gListCtrl">
        <h3 class="ListTitle">{{groceries.length}} Groceries to get</h3>

        <!-- alternative way of binding: -->
        <!-- <h3 class="ListTile">
                <span ng-bind="groceries.length"></span> Groceries to get
             </h3> -->

        <ol>
            <li>{{groceries[0].item}}</li>
        </ol>

        <ol start="2">
            <li ng-repeat="grocery in groceries" ng-if="$index > 0">
            {{grocery.item}} {{$index}}
            </li>
        </ol>


        <table>
            <tr ng-repeat-start="grocery in groceries">
                <td>{{grocery.item}}</td>
            <tr ng-repeat-end>
                <td>{{grocery.purchased}}</td>
            </tr>
            </tr>
        </table>


        <!-- two way binding -->

        <label for="">Change the frist item:</label>
        <input type="text" ng-model="groceries[0].item">


        <h3>Grocery List</h3>
            <div ng-include="'ol-grocery-list.html'"></div>

            <label>
                <input type="checkbox" ng-model="showList">
                Show unordered list
            </label>
            
            <ng-include src="getList()"></ng-include>


            <label>Type a number (1 to 4)
                <input type="text" ng-model="someNumber"/>
            </label>

            <div ng-switch="someNumber">
                <p ng-switch-when="1">You entered 1</p>
                <p ng-switch-when="2">You entered 2</p>
                <p ng-switch-when="3">You entered 3</p>
                <p ng-switch-when="4">You entered 4</p>
                <p ng-switch-default="1">Not following directions</p>
                
            </div>
    </div>



    <script src="../js/angular.js"></script>
    <script src="../js/example3.js"></script>
</body>
</html>