<!DOCTYPE html>
<html lang="en" ng-app="app5" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS Tutorial - validation</title>

    <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
          display: none;
        }
        table{
          width: 400px;
          text-align: left;
          border: 2px solid black;
          padding: 10px;
        }
        input.ng-dirty.ng-invalid {
          border-color: red;
        }
    </style>

</head>
<body>
    <!-- List validation -->

    <div ng-controller="gListCtrl">
        <h3>Grocery List</h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Purchased</th>
                </tr>
            </thead>
            <tr ng-repeat="grocery in groceries">
                <td>{{grocery.item}}</td>
                <td><input type="checkbox" ng-model="grocery.purchased"/></td>
            </tr>
        </table>


        <label>New item:
            <input type="text" ng-model="newItem"/>
        </label>
        <button ng-click="addItem(newItem)">Add item</button>
    
        
        <h4>{{missingNewItemError}}</h4>
    </div>



    <!-- User form validation -->

    <div>
        <form ng-controller="userCtrl" ng-submit="saveUser(userInfo)">
            <label>First Name: </label>

            <input type="text" name="fName"
            ng-model="userInfo.fName"
            ng-required="true" ng-minlength="2"/>

            <span class="error-message"
            ng-show="userForm.fName.$dirty && userForm.fName.$error.required">
            Must enter a first name. 
            </span>

            <span class="error-message"
            ng-show="userForm.fName.$dirty && userForm.fName.$error.minlength">
            Must enter a minimum of 2 characters. 
            </span>


            <br><br>


            <label>First Name: </label>

            <input type="text" name="lName"
            ng-model="userInfo.lName"
            ng-required="true" ng-minlength="2"/>

            <span class="error-message"
            ng-show="userForm.lName.$dirty && userForm.lName.$error.required">
            Must enter a first name. 
            </span>

            <span class="error-message"
            ng-show="userForm.lName.$dirty && userForm.lName.$error.minlength">
            Must enter a minimum of 2 characters. 
            </span>


            <br><br>


            <label>Street</label>

            <input type="text" name="street"
            ng-model="userInfo.street"
            ng-required="true" ng-minlength="6"
            ng-pattern="/^(\d{3,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$/"/>

            <span class="error-message"
            ng-show="userForm.street.$dirty && userForm.street.$invalid">
             Must enter a number, street and street type. (Ex: 123 Main St.)
            </span>



            <br><br>


            <input type="checkbox" name="subscribe"
            ng-model="userInfo.subscribe"
            ng-true-value="'Subscribe'"
            ng-false-value="'Don\'t subscribe'"/>

            <label>Delivery method:</label>
            <select name="delivery" ng-model="userInfo.delivery"
            ng-required="true">
                <option value="Email">E-mail</option>
                <option value="Mail">Mail</option>
            </select>

           <input type="submit" value="Save"
           ng-disabled="userForm.$invalid"/>

           <ul>
               <li ng-repeat="item in user">
                    {{'User: ' + item.fName + " " + item.lName + " " + 
                    item.street + " " + item.subscribe + " " + 
                    item.delivery}}
               </li>
           </ul>

        </form>

    </div>




    <script src="../js/angular.js"></script>
    <script src="../js/example5.js"></script>
    
</body>
</html>